body {
    background-color:#00ffff;
}  
@media screen and (max-width: 600px) {
    body {
      background-color:#ffe4c4;
    }
}  
@media screen and (min-width: 650px) {
    body {
      background-color:#0000ff;
      font-style: italic;
      padding:10px;
      color:#ffffff;
    }
}