.container-minwidth{
    min-width:80%;
}
.navbar{
    background: #ffffff;
    padding:0px;
}
.logo{
    padding-top:10px;
    font-style:normal;
    font-weight: bolder;
    font-size:calc(20px + (32 - 20) * ((100vw - 300px) / (1600 - 300)));
}
ul{
    float: right;
    padding:10px;
    margin-left:20px;
    margin-bottom:0px;
}
ul li{
    display:inline-block;
    color:#000000;
    margin-left:20px;
    margin-right: 20px;
    display:inline-flex;
    justify-content: space-between;
}
.ul-button{
    outline:none;
    border:1px solid rgba(192, 178, 50, 1);
    background-color: rgba(192, 178, 50, 1);
    color:#ffffff;
    width:150px;
    height:50px;
    margin-left:30px;   
}
.sidebar{
    display:flex;
    flex-direction:column;
    float:right;
    width:100px;
    height:100%;
    background-color: aqua;
    padding:10px;
}
@media screen and (max-width:820px){
    .ul-button{
        display: none;
    }
}
@media screen and (max-width:420px){
    ul li{
        display:none;
    }
}
@media screen and (min-width:421px){
    #menu, .sidebar{
        display:none;
    }
}